@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.6rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: -300px -300px, calc(100% + 300px) calc(100% + 300px);
  background-color: #19a2ae; }

.card {
  background: #fff;
  border-radius: 1.75rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .card__image {
    height: 100%; }

.bubbles {
  height: 14rem; }

.header {
  position: relative;
  width: 100%;
  height: 14rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid #d6d6d6;
  font-weight: 700;
  font-size: 1.8rem;
  color: #2d3248; }
  .header__photo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    border: 5px solid #fff; }
  .header__marked {
    color: #969696;
    font-weight: 400; }
  .header__bottom {
    color: #969696;
    font-weight: 400;
    font-size: 1.6rem; }

.main {
  display: flex;
  width: 100%;
  padding: 3rem 2rem;
  justify-content: space-around;
  color: #2d3248;
  font-weight: 700;
  font-size: 1.8rem; }
  .main__stat {
    display: flex;
    flex-direction: column;
    text-align: center; }
  .main__label {
    color: #969696;
    font-weight: 400;
    font-size: 1.3rem; }

.attribution {
  padding: 2rem;
  font-size: 1.5rem;
  color: #2d3248; }
  .attribution > a:link,
  .attribution > a:visited {
    color: #6a6f81;
    text-decoration: none;
    color: #6a6f81; }
  .attribution > a:hover {
    color: #333; }
